@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply min-h-full
}
body {
  @apply flex flex-col items-center h-full;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  @apply w-full h-full;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*텍스트 선택(드래그)를 막는 css*/
.select-none {
  user-select: none;
}
.signupIcon {
  opacity: 0.5;
  width: 28px;
  height: 18px;
}
.signupInput {
  position: absolute;
  text-overflow: hidden;
  width: 100%;
  top: 0px;
  left: 0px;
  text-overflow: ellipsis; 
  white-space: nowrap;
  transition:opacity -25s ease;
  opacity: 1;
  padding: 12px 0 12px;
  text-indent: 0.75rem;
  color: rgb(217 220 224); 
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}

.swiper-initialized {
  height: 200px;
}

/* .slider-content {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 1s;
}

.slider-content.active {
  opacity: 1;
  transform: translateY(0);
} */